.welcome{
    /* display: flex;
    justify-content: center; */
    padding-top: 2rem;
}
.animated_text{
    display: flex;
    justify-content: center;
}
.welcome h1{
    font-size: 1.85rem;
}
#toQP{
    color: #0084c6;
    display: block;
}
.typing{
    position: relative;
}
#toQP::after{
    content: "" !important;
    position: relative !important;
    width: 1px !important;
    height: 100%;
    margin-left: 2px;
    border-right: 2px solid #0084c6 !important;
    animation: typing 0.4s infinite;
}
#QP2{
    animation: typing 0.5s infinite ease;
}
@keyframes typing {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.underline-hover-effect:hover{
color: #0084c6;
text-decoration: underline;
cursor: pointer;
}