@import url('https://fonts.googleapis.com/css2?family=Jost&family=Vollkorn&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Jost', sans-serif;
}
body{
background-color: #232526;
}
.headers{
    display: flex;
    justify-content: space-evenly;
    margin: 2rem;
    text-decoration: underline;


    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 2rem;
}
#back-btn{
    padding: 2px 20px;
    text-decoration: none;
    background-color: #0084c6;
}
.im2images{
    width: 70% !important;
    margin: auto !important;
    border: 2px solid transparent;
    border-radius: 10px;
}
.whiteC{
    color: white;
}
.center{
    display: flex;
    justify-content: center;
    margin: 2rem;
    text-decoration: underline;
}
#lowerfooter{
    background-color:#0084c6 ;
    position:fixed;
    bottom:0;
    width:100%;

    padding-top: 2.3vh;
}
.curve{
    border: 2px solid transparent;
    border-radius: 10px;
}